<div class="onecampus-how-ready"> 
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-5 onecampus-how-ready--info">
                <div class="one-text-mod" [innerHtml]="learningPage.description"></div>
            </div>
            <div class="col-md-offset-1 col-md-4 onecampus-how-ready--info">
                <button type="button" class="video-trigger video-trigger__darken" ng-click="homeSeriesCtrl.openModal(homeSeriesCtrl.content.video_url)">
                    <img [src]="learningPage.image_url">
                </button> 
            </div>
        </div>
    </div>
</div>