<div class="insitutions--container">
    <section class="intro intro-large intro--institutions">
        <div class="container">
            <div class="one-text-mod">
                <div class="one-text-mod--item one-text-mod--item__sm">
                    <div class="hdg hdg__5 hdg__color-inherit dashboard-slide__description"> JOIN ONECAMPUS® BY LAUREATE </div>
                </div>
                <div class="one-text-mod--item one-text-mod--item__lg position-relative">
                    <h2 class="hdg hdg__biggest hdg__color-inherit hdg__upper">
                        <h2>
                            PROVIDE YOUR STUDENTS AN OPPORTUNITY TO LEARN, ENGAGE, AND CONNECT WITH OTHER LAUREATE STUDENTS ACROSS THE WORLD!
                        </h2>
                    </h2>
                </div>
            </div>
        </div>
        <div class="institutions--header_info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info-container--cms">
                        <h4>
                            Exclusive membership opportunities available
                        </h4>
                        <ul>
                            <li>
                                Expand available courses to your students through access to the OneCampus® by Laureate International Course Exchange
                                <br>
                            </li>
                            <li>
                                Help your students to gain an international perspective through collaboration with students and faculty around the globe.
                                <br>
                            </li>
                            <li>
                                Increase your reputation as a multi-cultural university.
                                <br>
                            </li>
                        </ul>
                        <p>
                        </p>
                        <p>
                        </p>
                        <p>
                            <a href="https://onecampus.laureate.net/#/search?contentType=courses&amp;language=en">
                                Explore Available Courses
                            </a>
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="institutions--participating">
        <div class="container">
            <h3>Participating schools</h3>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                    <img alt="UVM" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-1.original.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                    <img alt="NewSchool" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-2.original.png"> 
                    </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                    <img alt="Kendall" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-3.original.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                    <img alt="UPES" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-4.original.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                    <img alt="Walden" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-5.original.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                    <img alt="UPC" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-6.original.png">
                </div>
            </div>
        </div>
    </section>
    <section class="institutions--engage">
        <div class="container">
            <h4>Two Ways to Engage</h4>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 institutions--engage__how">
                    <div class="card-big one-accent-box">
                        <h3>
                            International Course Exchange
                        </h3>
                        <p>
                            Joining OneCampus® by Laureate International Course Exchange is as easy as selecting one or more online courses from around
                            the Laureate network to offer to your students.
                        </p>
                        <p>
                            You can also consider hosting your online courses with students around the network through OneCampus® by Laureate International
                            Course Exchange! Showcase your exemplary online courses and allow students and faculty to experience
                            the international perspective provided by their global classroom.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 institutions--engage__how">
                    <div class="card-big one-accent-box">
                        <h3>
                            Student Destination
                        </h3>
                        <p>
                            Offer the OneCampus® by Laureate website as your student destination to access online courses and connect your students with
                            others from around the Laureate network. New features and resources are frequently added to address
                            the needs of our 65+ institutions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="institutions--testimonial">
        <div class="container">
            <div class="row">
                <div class="one-text-mod institutions--testimonial__left col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <h6>
                        TESTIMONIAL
                    </h6>
                    <h1>
                        UNIVERSITY LEADERS SHARE THEIR THOUGHTS
                    </h1>
                    <p>
                        OneCampus® by Laureate encourages both faculty and students to question their perspectives about big issues by interacting
                        with groups of students from other cultures.
                        <br>
                    </p>
                    <p>
                        It's an easy, quick and valuable way to internationalize a classroom. Having international students in the classrooms also
                        raises the level of discourse across the board and gives the classroom a dynamic element that encourages
                        deeper reflection.
                    </p>
                    <br>
                    <b>
                        Lulu Williamson, Ph.D
                    </b>
                    <br> OneCampus® by Laureate Coordinator for Walden University
                </div>
                <div class="institutions--testimonial__right col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <button type="button" class="btn__start-episode">
                        <svg width="106" height="106" viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linejoin="round" d="M83 53.8333L36.3333 78V29.6667z" stroke-width="6" stroke="#FFF" fill="none" fill-rule="evenodd"></path>
                            <circle class="outer-circle" cx="53" cy="53" r="50" stroke="#FFF" fill="none" stroke-linecap="round" stroke-width="6"></circle>
                        </svg>
                        <h5>
                            <p>
                                Watch the video
                            </p>
                        </h5>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="institutions--get_started">
        <div class="container">
            <h4>Get Started</h4>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 institutions--get_started-how">
                    <div class="card-big one-accent-box">
                        <div class="institutions--get_started-how__icon">
                            <img src="/assets/images/institutions/icon-calendar.svg"> </div>
                        <div class="institutions--get_started-how__content info-container--cms">
                            <h3>
                                Schedule an Appointment
                            </h3>
                            <p>
                                Contact a team member at onecampus@laureate.net and together we’ll identify how OneCampus® by Laureate can support your goals.
                            </p>
                            <p>
                                <a href="mailto:onecampus@laureate.net">
                                    Send Email
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 institutions--get_started-how">
                    <div class="card-big one-accent-box">
                        <div class="institutions--get_started-how__icon">
                            <img src="/assets/images/institutions/icon-kit.svg"> </div>
                        <div class="institutions--get_started-how__content info-container--cms">
                            <h3>
                                Download a International Course Exchange Starter Kit
                            </h3>
                            <p>
                                The starter kit will guide you through the process of setting up your institution in the OneCampus® by Laureate International
                                Course Exchange
                            </p>
                            <p>
                                <a href="http://global.laureate.net/login/index.aspx#/onecampus/">
                                    Request Kit
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>