<section class="intro intro-large intro--institutions">
    <div class="container">
        <div class="one-text-mod">
            <div class="one-text-mod--item one-text-mod--item__sm">
                <div class="hdg hdg__5 hdg__color-inherit dashboard-slide__description" [innerHtml]="introPage._title"></div>
            </div>
            <div class="one-text-mod--item one-text-mod--item__lg position-relative" [innerHtml]="introPage.description"></div>
        </div>
    </div>
    <div class="institutions--header_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info-container--cms" [innerHtml]="introPage.short_description"></div>
            </div>
        </div>
    </div>
</section>