<section class="institutions--get_started">
    <div class="container">
        <h4 [innerHtml]="getStartedData._title"></h4>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 institutions--get_started-how">
                <div class="card-big one-accent-box">
                    <div class="institutions--get_started-how__icon">
                        <img src="/assets/images/institutions/icon-calendar.svg"> </div>
                    <div class="institutions--get_started-how__content info-container--cms" [innerHtml]="getStartedData.description"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 institutions--get_started-how">
                <div class="card-big one-accent-box">
                    <div class="institutions--get_started-how__icon">
                        <img src="/assets/images/institutions/icon-kit.svg"> </div>
                    <div class="institutions--get_started-how__content info-container--cms" [innerHtml]="getStartedData.short_description"></div>
                </div>
            </div>
        </div>
    </div>
</section>