<section class="institutions--get_started">
    <div class="container">
        <h4>Get Started</h4>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 institutions--get_started-how">
                <div class="card-big one-accent-box">
                    <div class="institutions--get_started-how__icon">
                        <img src="/assets/images/institutions/icon-calendar.svg"> </div>
                    <div class="institutions--get_started-how__content info-container--cms">
                        <h3>
                            Schedule an Appointment
                        </h3>
                        <p>
                            Contact a team member at onecampus@laureate.net and together we’ll identify how OneCampus® by Laureate can support your goals.
                        </p>
                        <p>
                            <a href="mailto:onecampus@laureate.net">
                                Send Email
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 institutions--get_started-how">
                <div class="card-big one-accent-box">
                    <div class="institutions--get_started-how__icon">
                        <img src="/assets/images/institutions/icon-kit.svg"> </div>
                    <div class="institutions--get_started-how__content info-container--cms">
                        <h3>
                            Download a International Course Exchange Starter Kit
                        </h3>
                        <p>
                            The starter kit will guide you through the process of setting up your institution in the OneCampus® by Laureate International
                            Course Exchange
                        </p>
                        <p>
                            <a href="http://global.laureate.net/login/index.aspx#/onecampus/">
                                Request Kit
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>