<div>
  <h1>FIND HELP FROM YOUR UNIVERSITY</h1>
  <div class="dropdown-university--blue" *ngIf="showUniversities">
    <input id="dropdownuniversity" type="checkbox">
    <label for="dropdownuniversity">
      <span class="dropdown-gray-label">
         Choose University
      </span>
      <i class="icon-chevron-up-simple pull-right"></i>
    </label>
    <ul><li *ngFor="let university of universitiesList" (click)="selectUniversity(university)"><span>{{university.title}}</span></li></ul>
  </div>

  <div class="dropdown-university--blue" *ngIf="!showUniversities">
    <input id="university" type="checkbox" ng-checked="true" ng-disabled="true">
    <label for="university">
      <span class="dropdown-gray-label" (click)="changeUniversity()">{{selectedUniversity.title || selectedUniversity.name}}</span>
      
      <i class="icon-close-simple pull-right" ng-if="!supportUniversitiesCtrl.sessionExists" ng-click="supportUniversitiesCtrl.closeHelpSupport()"></i>
    </label>
    
    <div class="content-box-university--white auth-version">
      <a class="live-chat--box" ng-click="supportUniversitiesCtrl.openZendesk()">
        <h3>{{supportUniversitiesCtrl.helpSupport._title}}</h3>
        <i class="icon-chat"></i>
      </a>
      <div ng-bind-html="supportUniversitiesCtrl.helpSupport.body"></div>
    </div>
  </div>
</div>
