<header class="one-nav">
    <div class="one-nav__inner">
        <a class="one-nav__logo" routerLink="/marketing">
            <img src="./assets/images/global/logo-onecampus-header.png">
        </a>
        <div class="one-nav__menu-main">
            <div class="one-nav__menu-item ng-scope">
                <a class="ng-scope" routerLink="/for-institutions">
                    <span>{{'OC_FOR_INSTITUTIONS' | translate}}</span>
                </a>
            </div>
            <div ng-repeat="topLevelItem in oneNavCtrl.navStructure" class="one-nav__menu-item ng-scope" ng-class="{'one-nav__menu-item--selected': oneNavCtrl.currentPageKey == topLevelItem.id}"
                ng-mouseenter="oneNavCtrl.showMenu(topLevelItem.id)" ng-mouseleave="oneNavCtrl.delayHideMenu(topLevelItem.id)">
                <a ng-if="topLevelItem.sref" routerLink="/support">
                    <span class="ng-binding">{{ 'OC_HELP_SUPPORT' | translate }}</span>
                </a>
            </div>
            <div  class="one-nav__mobile-lang">
                <ul class="one-lang-toggle">
                    <li class="is-selected">
                        <button type="button">
                            <span>Eng</span>
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <span>Spa</span>
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <span>Por</span>
                        </button>
                    </li>
                </ul>
            </div>
            <ul class="one-nav__main-right ng-scope">
                <li class="one-nav__menu-item ng-scope">
                    <a class="ng-scope" href="#/redirectLogin">
                        <span>{{'OC_CREATE_YOUR_PASSPORT' | translate}}</span>
                    </a>
                </li>
                <li class="one-nav__menu-item ng-scope">
                    <a class="ng-scope" href="#/redirectLogin">
                        <span>{{ 'OC_LOGIN' | translate }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="one-nav__lang">
            <div class="one-lang-select" (click)="toggleLanguageMenu()">
                <button type="button" class="one-lang-select__current">
                    <span [innerHtml]='selectedLanguage | uppercase'></span>
                    <i class="one-nav-arrow"></i>
                </button>
                <ul class="one-lang-select__opts" [ngClass]="{'ng-hide': !showLanguages}">
                    <li *ngFor="let lang of languages" (click)="changeLanguage(lang)" [ngClass]="{'is-selected': selectedLanguage === lang}">
                        <a><span [innerHtml]="lang | uppercase"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="one-nav__menu-trigger">
            <span class="one-nav__hamburger"></span>
        </button>
    </div>
</header>
