<section class="institutions--engage">
  <div class="container">
    <h4>Two Ways to Engage</h4>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 institutions--engage__how">
        <div class="card-big one-accent-box">
          <h3>
            International Course Exchange
          </h3>
          <p>
            Joining OneCampus® by Laureate International Course Exchange is as easy as selecting one or more online courses from around
            the Laureate network to offer to your students.
          </p>
          <p>
            You can also consider hosting your online courses with students around the network through OneCampus® by Laureate International
            Course Exchange! Showcase your exemplary online courses and allow students and faculty to experience the international
            perspective provided by their global classroom.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 institutions--engage__how">
        <div class="card-big one-accent-box">
          <h3>
            Student Destination
          </h3>
          <p>
            Offer the OneCampus® by Laureate website as your student destination to access online courses and connect your students with
            others from around the Laureate network. New features and resources are frequently added to address the needs
            of our 65+ institutions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>