<section class="institutions--participating">
    <div class="container">
        <h3>Participating schools</h3>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                <img alt="UVM" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-1.original.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                <img alt="NewSchool" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-2.original.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                <img alt="Kendall" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-3.original.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                <img alt="UPES" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-4.original.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                <img alt="Walden" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-5.original.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 institutions--participating__school">
                <img alt="UPC" src="https://liuwagtailprod.blob.core.windows.net/wagtail/original_images\school-6.original.png">
            </div>
        </div>
    </div>
</section>