<div class="onecampus-start-journey">
    <div class="continer">
        <div class="row" *ngIf="passportPage">
            <div class="col-md-6 onecampus-start-journey--passport-top">
                <img src="./assets/images/homepage/passport@1x.png" srcset="./assets/images/homepage/passport@1x.png 1x, ./assets/images/homepage/passport@2x.png 2x" class='passport' />
            </div>
            <div class="col-md-offset-1 col-md-5 onecampus-start-journey--info">
                <div class="one-text-mod info-container--cms" [innerHtml]="passportPage.description"></div>
            </div>
            <div class="col-md-6 onecampus-start-journey--passport">
                <img src="./assets/images/homepage/passport@1x.png" srcset="./assets/images/homepage/passport@1x.png 1x, ./assets/images/homepage/passport@2x.png 2x" class='passport' />
            </div>
        </div>
    </div>
</div>