.container.dashboard__notifications--container {
  max-width: 888px;
  position: relative; }

.card-resource-content__paper {
  min-height: 342px;
  height: auto;
  display: inline-block; }
  .card-resource-content__paper img {
    max-width: 100%; }
  .card-resource-content__paper div {
    position: relative;
    overflow: hidden; }
  .card-resource-content__paper span.card-resource-content__paper-type, .card-resource-content__paper span.card-resource-content__video-type, .card-resource-content__paper span.card-resource-content__series-type, .card-resource-content__paper span.card-resource-content__serie-type {
    position: absolute; }

.notifications--container .toolbar {
  max-width: 860px;
  margin: 0 auto 1px auto; }

.dashboard__notifications--panel {
  position: relative;
  margin: 0px auto;
  display: block;
  padding: 19px 4px; }

/*--Paper Cards Fix --*/
.card-resource-content__paper .card-resource-content__text,
.card-resource-content__series-type,
.card-resource-content__serie-type {
  font-size: 14px;
  line-height: 1.5;
  min-height: 42px; }

.card-resource-content__paper .card-resource-content__header {
  position: relative; }

.card-resource-content__paper .card-resource-content__header > a {
  display: block; }

.card-resource-content__paper .card-resource-content__header--center {
  background-color: #fafafa;
  min-height: 150px;
  text-align: center;
  line-height: 150px;
  border-radius: 4px 4px 0 0; }

.card-resource-content__paper .card-resource-content__header--center > :first-child,
.card-resource-content__paper .card-resource-content__header--center img {
  line-height: 150px;
  display: inline-block;
  vertical-align: middle; }

.card-resource-content__paper .card-resource-content__header--center img {
  width: auto;
  height: auto;
  min-height: 0;
  max-width: 80%;
  max-height: 70px; }

.card-resource-content__paper .card-resource-content__action {
  position: absolute;
  top: 11px;
  left: 16px; }

.card-resource-content__paper .card-resource-content__feat-img,
.card-resource-content__paper .card-resource-content__image {
  display: block;
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: auto;
  min-height: 130px; }

.card-resource-content__paper .card-resource-content__tag {
  bottom: 0;
  left: 0;
  position: absolute; }

.card-resource-content__paper .card-resource-content__course-type {
  background-color: #526e25; }

.card-resource-content__paper .card-resource-content__course-type,
.card-resource-content__paper .card-resource-content__serie-type,
.card-resource-content__paper .card-resource-content__program-type,
.card-resource-content__paper .card-resource-content__resource-type,
.card-resource-content__paper .card-resource-content__study-type {
  color: #fff;
  bottom: 0;
  left: 0;
  padding: 5px 15px;
  position: absolute;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 0;
  font-size: 14px;
  line-height: 1.429;
  background-color: #526e25;
  bottom: -1px; }

.card-resource-content__paper .card-resource-content__video-type,
.card-resource-content__paper .card-resource-content__paper-type {
  background-color: #387b7d;
  color: #fff;
  bottom: 0;
  left: 0;
  padding: 5px 15px;
  position: absolute;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 0;
  font-size: 14px;
  line-height: 1.429; }

.card-resource-content__paper .card-resource-content__video-icon {
  position: absolute;
  top: 32px;
  left: 80px; }

/* Paper Label Tag Colors */
.card-resource-content__paper .card-resource-content__study-type {
  background-color: #196DB3; }

.card-resource-content__paper .card-resource-content__video-type {
  background-color: #526E24; }

.card-resource-content__paper .card-resource-content__serie-type {
  background-color: #806284; }

.card-resource-content__paper .card-resource-content__program-type {
  background-color: #186db3; }

.card-resource-content__paper .card-resource-content__course-type {
  background-color: #806284; }

.card-resource-content__paper .card-resource-content__resource-type {
  background-color: #526E24; }

.card-resource-content__paper .card-resource-content__footer {
  background-color: #ffcb6d;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.card-resource-content__paper .card-resource-content__footer p {
  font-family: canada-type-gibson, Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  padding: 15px 10px;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.card-resource-content__paper .card-resource-content__footer p b,
.card-resource-content__paper .card-resource-content__footer p strong {
  font-weight: 600; }

.card-resource-content__connections img + img {
  margin-left: -11px; }

.card-resource-content__connections span {
  font-size: 14px;
  text-transform: none; }

/* Fix for notification list on dashboard*/
.dashboard__notifications--news {
  border-top: 1px solid #d6e5fb;
  margin: 15px auto !important;
  /*-Children*/ }
  .dashboard__notifications--news .notifications--detail {
    padding: 8px 18px !important;
    cursor: pointer;
    margin-top: 0 !important;
    z-index: 10 !important; }
    .dashboard__notifications--news .notifications--detail p {
      float: right;
      text-align: left;
      width: 90%;
      padding-top: 12px; }
  .dashboard__notifications--news .notifications--detail:before {
    content: "\A0";
    display: block;
    border-top: 1px solid #d6e5fb;
    padding: 0;
    background-color: #fff;
    height: 1px !important;
    position: relative;
    top: -8px; }
  .dashboard__notifications--news .notification {
    overflow: hidden;
    padding: 10px 25px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .dashboard__notifications--news .notification.is-unread {
    background-color: #fff5e3; }
  .dashboard__notifications--news .notification--img {
    margin-right: 55px;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .dashboard__notifications--news .notification--badge {
    position: absolute;
    width: 40px;
    left: 35px;
    top: 8px;
    z-index: 0; }
  .dashboard__notifications--news .notification--icon {
    padding: 7px;
    background-color: #f35908;
    border-radius: 100%;
    color: #fff;
    font-size: 26px; }
  .dashboard__notifications--news .notification--icon.icon-group {
    background-color: #0079bb; }
  .dashboard__notifications--news .notification--icon.icon-book-open {
    background-color: #e44f4c; }
  .dashboard__notifications--news .notification--icon.icon-international-opportunities {
    background-color: #565699; }
  .dashboard__notifications--news .notification--icon.icon-clipboard {
    background-color: #fd8548; }
  .dashboard__notifications--news .notification--img > img:first-child {
    border-radius: 50%;
    width: 100%;
    height: 100%; }
  .dashboard__notifications--news .notification--link {
    display: inline;
    color: inherit;
    font-weight: 600;
    text-decoration: none; }
  .dashboard__notifications--news .notification--link:focus,
  .dashboard__notifications--news .notification--link:hover {
    text-decoration: underline; }
  .dashboard__notifications--news .notification--text {
    margin: 0;
    line-height: 1.5; }
  .dashboard__notifications--news .notification--text > .notification--label {
    display: block;
    font-size: .875em;
    line-height: 1.28571; }
  .dashboard__notifications--news .notification-summary {
    padding: 17px 25px;
    background-color: #fff5e3; }
  .dashboard__notifications--news .notification-summary--label {
    font-size: 16px; }
  .dashboard__notifications--news .notification-summary--action,
  .dashboard__notifications--news .popover {
    font-size: 14px; }

.dashboard__news {
  background-color: #fff5e2;
  margin: 0 auto;
  max-width: 860px; }

.notification--title--small {
  font-weight: 600;
  clear: both;
  padding: 20px 35px 10px; }

.notif-cleared {
  background-color: #fff !important; }

/*# sourceMappingURL=onecampus-updates.css.map */
