.header-secondary--help-support {
    height: 240px;
    background-color: #323e56;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url(/assets/images/internal/bg-getstarted.png);
    margin-bottom: 60px;
    padding: 98px 0 40px;
}